@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form id="students_add" method="post">

            
            <div class="input_line">
                <label class="leftlabelext">姓名：</label><input class="easyui-textbox" id="students_add_name" name="Name" data-options="prompt:'请输入姓名'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">学号：</label><input class="easyui-textbox" id="students_add_studentno" name="StudentNo" data-options="prompt:'请输入学号'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">联系电话：</label><input class="easyui-textbox" id="students_add_telnum" name="TelNum" data-options="prompt:'请输入联系电话'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">QQ号：</label><input class="easyui-textbox" id="students_add_qq" name="QQ" data-options="prompt:'请输入QQ号'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">微信号：</label><input class="easyui-textbox" id="students_add_wechat" name="WeChat" data-options="prompt:'请输入微信号'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">家长联系方式1：</label><input class="easyui-textbox" id="students_add_ptelno1" name="PTelNo1" data-options="prompt:'请输入家长联系电话'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">家长联系方式2：</label><input class="easyui-textbox" id="students_add_ptelno2" name="PTelNo2" data-options="prompt:'请输入家长联系电话'">
            </div>
            <div class="input_line">
                <label class="leftlabelext">备注：</label><input class="easyui-textbox" id="students_edit_memo"  name="Memo" data-options="prompt:'请输入备注信息'">
            </div>
        </form>  
    </div>
</body>
</html>
