@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.mobile.js"></script>
    <script>
        $(function () {
            //$("#majors_select").combobox({
            //    width: 300,
            //    onSelect: function () {
            //        $('#course_table').datagrid("reload");
            //    },
            //    url: '/majors/GetMajors',
            //    valueField: 'ID',
            //    textField: 'Name',
            //})
            //$("#course_table").datagrid({
            //    url: '/courses/getCourses',
            //    rownumbers: true,
            //    fitColumns: true,
            //    //toolbar: toolbar,
            //    queryParams: {
            //        majorid: $("#majors_select").combobox("getValue")
            //    },
            //    singleSelect: true,
            //    collapsible: true,
            //})
        })
    </script>
</head>
<body>
    <div>
    @*    <select id="majors_select"></select>
        <table id="course_table"></table>*@
    </div>
</body>
</html>
